[submodule "bundle/ack"]
	url = https://github.com/mileszs/ack.vim.git
	path = bundle/ack
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	url = https://github.com/msanders/snipmate.vim.git
	path = bundle/snipmate
[submodule "bundle/surround"]
	url = https://github.com/tpope/vim-surround.git
	path = bundle/surround
[submodule "bundle/git"]
	url = https://github.com/tpope/vim-git.git
	path = bundle/git
[submodule "bundle/supertab"]
	url = https://github.com/ervandew/supertab.git
	path = bundle/supertab
[submodule "bundle/minibufexpl"]
	url = https://github.com/sontek/minibufexpl.vim.git
	path = bundle/minibufexpl
[submodule "bundle/command-t"]
	url = https://github.com/wincent/Command-T.git
	path = bundle/command-t
[submodule "pyflakes-pathogen"]
	url = https://github.com/mitechie/pyflakes-pathogen.git
	path = pyflakes-pathogen
[submodule "bundle/gundo"]
	url = https://github.com/sjl/gundo.vim.git
	path = bundle/gundo
[submodule "bundle/pydoc"]
	url = https://github.com/fs111/pydoc.vim.git
	path = bundle/pydoc
[submodule "bundle/pep8"]
	url = https://github.com/vim-scripts/pep8.git
	path = bundle/pep8
[submodule "bundle/py.test"]
	url = https://github.com/alfredodeza/pytest.vim.git
	path = bundle/py.test
[submodule "bundle/makegreen"]
	url = https://github.com/reinh/vim-makegreen
	path = bundle/makegreen
[submodule "bundle/tasklist"]
	url = https://github.com/vim-scripts/TaskList.vim.git
	path = bundle/tasklist
[submodule "bundle/nerdtree"]
	url = https://github.com/vim-scripts/The-NERD-tree.git
	path = bundle/nerdtree
[submodule "bundle/ropevim"]
	url = https://github.com/sontek/rope-vim.git
	path = bundle/ropevim
[submodule "bundle/ctrlp"]
	url = https://github.com/kien/ctrlp.vim.git
	path = bundle/ctrlp
